/* CardList.module.css */

.container {
  margin-top: 20px;
}

.card {
  background-color: #ffffff !important;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.card .avatar-md {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.card .d-flex {
  align-items: center;
}

.card .ms-3 {
  flex: 1;
}

.card .mb-1 {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

.card .fs-6 {
  font-size: 14px;
  color: #6c757d;
}

.class-container {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  margin-top: 20px;
}

.selected .class-container {
  opacity: 1;
  transform: translateX(0);
}

.class-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.class-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.class-card .avatar-md {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.class-card .d-flex {
  align-items: center;
}

.class-card .ms-3 {
  flex: 1;
}

.class-card .mb-1 {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

.class-card .fs-6 {
  font-size: 14px;
  color: #6c757d;
}

.date {
  margin-right: -1rem !important;
}
