.courseDetailContainer {
  text-align: center;
}

.courseImage {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.courseTitle {
  font-size: 2rem;
  margin: 20px 0;
}

.courseDescription {
  font-size: 1.25rem;
  color: #555;
  margin-bottom: 20px;
}

.courseBody {
  margin-top: 2rem;
  text-align: right;
  padding: 3rem;
  font-size: 1rem;
  color: #333;
}


.enrollButtonContainer {
  margin-top: 2rem;
}

.enrollButton {
  background-color: #f0f2f5; /* Light gray background */
  color: #595959; /* Dark gray text */
  border: 1px solid #d9d9d9; /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  padding: 16px; /* Increased padding */
  font-size: 1.2rem; /* Larger font size */
  height: 60px; /* Increased button height */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.enrollButton:hover {
  background-color: #e6e6e6; /* Slightly darker gray for hover effect */
  color: #434343; /* Darker text color on hover */
}